@font-face {
   font-family: 'Proxima Nova Alt';
   src: url('./FontsFree-Net-ProximaNovaAltRegular.ttf') format('truetype'); /* Adjust the path to your font file */
   font-weight: normal;
   font-style: normal;
}

 