@import "../fonts/font.module.css" ;
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
   font-family: 'Proxima Nova Alt';
   letter-spacing: .2px;
}

.fade-in {
   transition: opacity 1.5s ease;
}
 
.fade-out {
  opacity: 0;
  transition: opacity 1.5s ease;
}
 